@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 3em;
	font-family: notosansextracondensed;
	font-style: normal;
}

h2{
	font-size: 1.5em;
	font-family: notosansextracondensed;
	font-style: normal;
}

h3{
	display: block;
	font-size: 1.6em;
	font-family: notosansextracondensed;
	font-style: normal;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	color: #0C2733;
}

h3rar{
	display: block;
	font-size: 1.6em;
	font-family: notosansextracondensed;
	font-style: normal;
	color: #0C2733;
}

h3w{
	font-size: 1.6em;
	font-family: notosansextracondensed;
	display: block;
	font-style: normal;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	color: #F6F9FC;
}

h3r{
	font-size: 1.6em;
	font-family: notosansextracondensed;
	display: block;
	font-style: normal;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #E53E30;
}

h4{
	font-size: 1.4em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #F6F9FC;
	vertical-align: middle;
	text-align: center;
	background-color: #0C2733;
	padding: 5px;
}

h5{
	font-size: 0.9em;
	font-family: notosansextracondensed;
	font-style: normal;
	color: #F6F9FC;
	vertical-align: middle;
	text-align: left;
}

h6{
	font-size: 1.5em;
	font-family: notosansextracondensed;
	font-style: normal;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0px;
	color: #F6F9FC;
}

p1{
	display: inline;
	font-size: 0.9em;
	font-family: notosans;
	font-weight: 300;
	font-style: normal;
	color: #0A0A0A;
	line-height: normal;
}

p1w{
	display: inline;
	font-size: 0.9em;
	font-family: notosans;
	font-weight: 300;
	font-style: normal;
	color: #F6F9FC;
	line-height: normal;
}

p1r{
	display: inline;
	font-size: 0.9em;
	font-family: notosans;
	font-weight: 300;
	font-style: normal;
	color: #E53E30;
	line-height: normal;
}

p2{
	display: inline-block;
	font-size: 1em;
	font-family: notosans;
	font-weight: 500;
	font-style: normal;
	color: #0A0A0A;
	line-height: normal;
	padding-top: 1em;
}

p2w{
	display: inline-block;
	font-size: 1em;
	font-family: notosans;
	font-weight: 500;
	font-style: normal;
	color: #F6F9FC;
	line-height: normal;
	padding-top: 1em;
}

p2r{
	display: inline-block;
	font-size: 1em;
	font-family: notosans;
	font-weight: 500;
	font-style: normal;
	color: #E53E30;
	line-height: normal;
	padding-top: 1em;
}

p3{
	display: inline;
	font-size: 0.9em;
	font-family: notosans;
	font-weight: 300;
	font-style: normal;
	color: #F6F9FC;
	line-height: 20px;
}

p4{
	display: inline-block;
	font-size: 0.9em;
	font-family: notosans;
	font-weight: 500;
	font-style: normal;
	color: #F6F9FC;
	line-height: 20px;
	padding-top: 10px;
}

b1{
	font-size: 3.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #e53e30;
}

b1s{
	font-size: 3.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #e53e30;
	text-shadow: 5px 5px #E53E30;
}

b2{
	font-size: 4em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0a0a0a;
}

b2s{
	font-size: 4em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0a0a0a;
	text-shadow: 6px 6px #E53E30;
}

gametitle{
	font-size: 2.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0C2733;
	text-align: left;
	vertical-align: middle;
}

b3{
	font-size: 2em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0A0A0A;
}

b3w{
	font-size: 2em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #F6F9FC;
}

b3s{
	font-size: 2em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0A0A0A;
	text-shadow: 3px 3px #E53E30;
}

b4{
	font-size: 1.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #0A0A0A;
}

b4r{
	font-size: 1.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #E53E30;
	padding: 20px;
	line-height: 40px;
}

b4rs{
	font-size: 1.5em;
	font-family: majormonodisplay;
	font-style: normal;
	color: #E53E30;
	text-shadow: 2px 2px #0A0A0A;
	padding: 10px;
}

p{
	font-size: 2em;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

@media only screen and (min-width: 1920px){
	
}


@media only screen and (min-width: 1440px) and (max-width:1919px){
	
}

@media only screen and (min-width: 1366px) and (max-width:1439px) and (orientation:landscape){
	
}

@media only screen and (min-width: 1366px) and (max-width:1439px) and (orientation:portrait){
	
}


@media only screen and (min-width: 1280px) and (max-width:1365px) and (orientation:landscape){
	b1 {
		font-size: 3em;
	}
	b2 {
		font-size: 3.5em;
	}
}


@media only screen and (min-width: 1280px) and (max-width:1365px) and (orientation:portrait){
	b1 {
		font-size: 3em;
	}
	b2 {
		font-size: 3.5em;
	}
}


@media only screen and (min-width: 1024px) and (max-width:1279px) and (orientation:landscape){
	b1 {
		font-size: 2em;
	}
	b2 {
		font-size: 2.5em;
	}
}


@media only screen and (min-width: 1024px) and (max-width:1279px) and (orientation:portrait){
	b1 {
		font-size: 2em;
	}
	b2 {
		font-size: 2.5em;
	}
}



@media only screen and (min-width: 751px) and (max-width:1023px) and (orientation:landscape){
	b1 {
		font-size: 2em;
	}
	b2 {
		font-size: 2.5em;
	}
}


@media only screen and (min-width: 751px) and (max-width:1023px) and (orientation:portrait){
	b1 {
		font-size: 2em;
	}
	b2 {
		font-size: 2.5em;
	}
}

@media only screen and (min-width: 412px) and (max-width:750px) and (orientation:landscape){
	b1 {
		font-size: 2em;
	}
	b2 {
		font-size: 2.5em;
	}
}


@media only screen and (min-width: 412px) and (max-width:750px) and (orientation:portrait){
	b1 {
		font-size: 1.5em;
	}
	b2 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 375px) and (max-width:411px) and (orientation:landscape){
	b1 {
		font-size: 1em;
	}
}


@media only screen and (min-width: 375px) and (max-width:411px) and (orientation:portrait){
	b1 {
		font-size: 1em;
	}
	b2 {
		font-size: 1.5em;
	}
}


@media only screen and (min-width: 360px) and (max-width:374px) and (orientation:landscape){
	b1 {
		font-size: 1em;
	}
	b2 {
		font-size: 1.5em;
	}
}


@media only screen and (min-width: 360px) and (max-width:374px) and (orientation:portrait){
	b1 {
		font-size: 1em;
	}
	b2 {
		font-size: 1.5em;
	}
}


@media only screen and (min-width: 0px) and (max-width:359px) and (orientation:landscape){
	b1 {
		font-size: 1em;
	}
	b2 {
		font-size: 1.5em;
	}
}


@media only screen and (min-width: 0px) and (max-width:359px) and (orientation:portrait){
	b1 {
		font-size: 1em;
	}
	b2 {
		font-size: 1.5em;
	}
}
